@import 'tailwindcss';
@source "./app";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-background: var(--primary-background);
  --color-primary-hover: var(--primary-hover);
  --color-primary-pressed: var(--primary-pressed);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-pressed: var(--secondary-pressed);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success: var(--success);
  --color-success-background: var(--success-background);
  --color-success-hover: var(--success-hover);
  --color-success-pressed: var(--success-pressed);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-background: var(--warning-background);
  --color-warning-hover: var(--warning-hover);
  --color-warning-pressed: var(--warning-pressed);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-background: var(--destructive-background);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-pressed: var(--destructive-pressed);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-background: var(--info-background);
  --color-info-hover: var(--info-hover);
  --color-info-pressed: var(--info-pressed);
  --color-info-foreground: var(--info-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-background: var(--tertiary-background);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-pressed: var(--tertiary-pressed);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --font-sans: 'Inter', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5461 0.2152 262.88);
  --primary-background: oklch(0.9705 0.0142 254.6);
  --primary-hover: oklch(0.5 0.22 262.88);
  --primary-pressed: oklch(0.3791 0.1378 265.52);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6089 0.1109 221.72);
  --secondary-background: oklch(0.9841 0.0189 200.87);
  --secondary-hover: oklch(0.5198 0.0936 223.13);
  --secondary-pressed: oklch(0.3982 0.0664 227.39);
  --secondary-foreground: oklch(1 0 0);
  --success: oklch(0.596 0.1274 163.23);
  --success-background: oklch(0.9793 0.0207 166.11);
  --success-hover: oklch(0.5081 0.1049 165.61);
  --success-pressed: oklch(0.4318 0.0865 166.91);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.6658 0.1574 58.32);
  --warning-background: oklch(0.9869 0.0214 95.28);
  --warning-hover: oklch(0.5553 0.1455 49);
  --warning-pressed: oklch(0.4732 0.1247 46.2);
  --warning-foreground: oklch(1 0 0);
  --destructive: oklch(0.5858 0.222 17.58);
  --destructive-background: oklch(0.9694 0.0152 12.42);
  --destructive-hover: oklch(0.5143 0.1978 16.93);
  --destructive-pressed: oklch(0.4546 0.1713 13.7);
  --destructive-foreground: oklch(1 0 0);
  --info: oklch(0.5854 0.2041 277.12);
  --info-background: oklch(0.9619 0.0179 272.31);
  --info-hover: oklch(0.4568 0.2146 277.02);
  --info-pressed: oklch(0.3984 0.1773 277.37);
  --info-foreground: oklch(1 0 0);
  --tertiary: oklch(25.615% 0.00003 271.152);
  --tertiary-background: oklch(0.922 0 0);
  --tertiary-hover: oklch(0.205 0 0);
  --tertiary-pressed: oklch(0.269 0 0);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-size-xs: 0.75rem;
  /* 12px */
  --font-size-sm: 0.875rem;
  /* 14px */
  --font-size-base: 1rem;
  /* 16px */
  --font-size-lg: 1.125rem;
  /* 18px */
  --font-size-xl: 1.25rem;
  /* 20px */
  --font-size-2xl: 1.5rem;
  /* 24px */
  --font-size-3xl: 1.875rem;
  /* 30px */
  --font-size-4xl: 2.25rem;
  /* 36px */
  --font-size-5xl: 3rem;
  /* 48px */
  --font-size-6xl: 3.75rem;
  /* 60px */
  --font-size-7xl: 4.5rem;
  /* 72px */
  --font-size-8xl: 6rem;
  /* 96px */
  --font-size-9xl: 8rem;
  /* 128px */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-background: oklch(0.25 0.02 262.88);
  --primary-hover: oklch(0.85 0.15 262.88);
  --primary-pressed: oklch(0.8 0.18 262.88);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.6 0.02 260);
  --secondary-background: oklch(0.25 0.01 260);
  --secondary-hover: oklch(0.55 0.025 260);
  --secondary-pressed: oklch(0.5 0.03 260);
  --secondary-foreground: oklch(0.985 0 0);
  --success: oklch(0.65 0.18 145);
  --success-background: oklch(0.25 0.04 145);
  --success-hover: oklch(0.6 0.19 145);
  --success-pressed: oklch(0.55 0.2 145);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.8 0.18 85);
  --warning-background: oklch(0.3 0.05 85);
  --warning-hover: oklch(0.75 0.19 85);
  --warning-pressed: oklch(0.7 0.2 85);
  --warning-foreground: oklch(0.15 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-background: oklch(0.25 0.05 27);
  --destructive-hover: oklch(0.65 0.2 22);
  --destructive-pressed: oklch(0.6 0.21 22);
  --destructive-foreground: oklch(0.985 0 0);
  --info: oklch(0.7 0.15 230);
  --info-background: oklch(0.25 0.03 230);
  --info-hover: oklch(0.65 0.16 230);
  --info-pressed: oklch(0.6 0.17 230);
  --info-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(7.699% 0.01148 19.999 / 0.1);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --tertiary: oklch(0.985 0 0);
  --tertiary-background: oklch(0.269 0 0);
  --tertiary-hover: oklch(0.85 0 0);
  --tertiary-pressed: oklch(0.708 0 0);
  --tertiary-foreground: oklch(0.145 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  [data-sonner-toast] [data-close-button] {
    left: auto !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}

@utility clip-diagonal-right {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

@utility clip-diagonal-left {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
