:host input[type='search']::-webkit-search-cancel-button,
:host input[type='search']::-webkit-search-decoration,
:host input[type='search']::-webkit-search-results-button,
:host input[type='search']::-webkit-search-results-decoration {
  appearance: none;
  -webkit-appearance: none;
}

:host input[type='search']::-ms-clear,
:host input[type='search']::-ms-reveal {
  display: none;
}
