<ecom-page-layout>
    <header ecom-page-header title="Productos" description="Administra tus distintos productos"></header>
    <article class="mb-5">
        <section>
            <ecom-product-overview-actions [totalCount]="totalProducts()" (creationRequest)="onProductCreationRequest($event)"/>
        </section>
    </article>
    <main>
        <ecom-products-table titleCard="Registro(s) de Productos" [data]="rows()" [pagination]="pagination()"></ecom-products-table>
    </main>
</ecom-page-layout>
