<ecom-page-layout>
    <header ecom-page-header title="Registra múltiples categorías" description="Las categorías registradas serán consideradas categorías padre"></header>
    <article class="mb-5">
        <section class="flex items-center justify-end gap-4">
            <ecom-button variant="outline" (clicked)="onCancel()">Cancelar</ecom-button>
            <ecom-button [disabled]="!canSave()" (clicked)="onSave()">Guardar</ecom-button>
        </section>
    </article>
    <main class="flex flex-col gap-4">
        <ecom-card>
            <ecom-category-form [actions]="formActions" (submitted)="onSubmit($event)" />
        </ecom-card>
        <ecom-categories-table [data]="categories()" [columns]="columns" [pagination]="pagination" [actions]="categoryTableActions" />
    </main>
</ecom-page-layout>
